<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Parallel test suite">

	<test name="chrome tests" parallel="tests" >
	<parameter name="browser" value="Chrome"/>
		<classes>
			<class name="web_automation.projectx.VerifySearch" />
		</classes>
	</test>
</suite>

